/*Reglas Universales*/
	*{
		box-sizing: border-box;
		font-family: sans-serif;
	}
	h1,
	h2,
	h3,
	.header p{
		margin: 0;
	}
/*Contenido Principal*/
	main{ margin: 1rem auto; }
	main section{
		margin: 1.5rem .5rem; /*top right bottom left*/
		border-radius: .25rem;
		padding: 1rem;
		box-shadow: 0 0 .5rem #333;
	}
	main .header{
		margin: -1rem -1rem 1rem; /*top right bottom left*/
		border-radius: .25rem .25rem 0 0; /*tl tr br bl*/
		padding: 1rem;
		color: #eee;
		background: linear-gradient(to left, #c36, #448);
		font-size: 1.2rem;
	}
	main h3{ border-bottom: .1rem solid #666; }
/*Examples*/
	.example{
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		position: relative;
		margin: .5rem 2rem 1.5rem; /*top right bottom left*/
		padding: 1rem 1.5rem;
		background-color: #eee;
		box-shadow: -.5rem .5rem .5rem #999; /*-x+ -y+ blur color*/
		list-style: none;
	}
	.example::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: .25rem;
		background: linear-gradient(#c36, #448);
	}
/*Transformaciones*/
	.transform{

	}
	.transform div{
		border: .1rem solid #ccc;
		padding: 1rem;
		background-color: #c36;
	}
	/*2d - x y*/
	.transform :nth-child(1){ transform: translate(.5rem, -.5rem)} /*distancia x,y */
	.transform :nth-child(2){ transform: scale(1.2)} /*unidades x,y*/
	.transform :nth-child(3){ transform: rotate(15deg); } /*grados*/
	.transform :nth-child(4){ transform: skewX(30deg);} /*grados*/
	.transform :nth-child(5){ transform: skewY(-30deg);} /*grados*/
	/*3d - z*/
	.transform :nth-child(6){ transform: }
	.transform :nth-child(7){ transform: }
	.transform :nth-child(8){ transform: }