/*Reglas Universales*/
	*{
		box-sizing: border-box;
		font-family: sans-serif;
	}
	h1,
	h2,
	h3,
	.header p{
		margin: 0;
	}
/*Contenido Principal*/
	main{ margin: 1rem auto; }
	main section{
		margin: 1.5rem .5rem; /*top right bottom left*/
		border-radius: .25rem;
		padding: 1rem;
		box-shadow: 0 0 .5rem #333;
	}
	main .header{
		margin: -1rem -1rem 1rem; /*top right bottom left*/
		border-radius: .25rem .25rem 0 0; /*tl tr br bl*/
		padding: 1rem;
		color: #eee;
		background: linear-gradient(to left, #c36, #448);
		font-size: 1.2rem;
	}
	main h3{ border-bottom: .1rem solid #666; }
/*Examples*/
	.example{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1rem;
		position: relative;
		margin: .5rem 2rem 1.5rem; /*top right bottom left*/
		padding: 1rem 1.5rem;
		background-color: #eee;
		box-shadow: -.5rem .5rem .5rem #999; /*-x+ -y+ blur color*/
		list-style: none;
		overflow: hidden;
	}
	.example::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: .25rem;
		background: linear-gradient(#c36, #448);
	}
/*Transformaciones*/
	.transform{
		perspective: 3rem;
		perspective-origin: top center;
	}
	.transform div{
		border: .1rem solid #ccc;
		padding: 1rem;
		background-color: #c36;
		transition-property: transform;
		transition-duration: 1s;
		transition-timing-function: ease;
		transition-delay: .5s;
	}
	/*2d - x y*/
	.transform :nth-child(1){ transform: translate(-1rem, .25rem)} /*distancia x,y */
	.transform :nth-child(2){ transform: scale(1.2)} /*unidades x,y*/
	.transform :nth-child(3){ transform: rotate(15deg); } /*grados*/
	.transform :nth-child(4){ transform: skewX(30deg);} /*grados*/
	.transform :nth-child(5){ transform: skewY(-30deg);} /*grados*/
	/*3d - z*/
	.transform :nth-child(6){ transform: translateZ(.5rem)} /*distancia z*/
	.transform :nth-child(7){ transform: rotateX(15deg)} /*grados eje x*/
	.transform :nth-child(8){ transform: rotateY(15deg)} /*grados eje y*/
	.transform :nth-child(9){ 
		transform: 
			rotate(30deg) 
			scale(1.2)
			translateZ(.5rem);
	}
	/*Transiciones*/
	.transform:hover div{ transform: translate(.25rem, -.25rem);}
/*Animaciones*/
	.animation{
		flex-direction: column;
	}
	.animation div{
		max-width: 10rem;
		padding: 1rem;
		color: #eee;
		background-color: #333;
		text-align: center;
	}
	.around{
		position: relative;
		min-height: 300px;
		justify-content: flex-start;
		background: linear-gradient(
			to right,
			hsl(0,50%,50%),
			hsl(90,50%,50%),
			hsl(180,50%,50%),
			hsl(270,50%,50%),
			hsl(0,50%,50%)
		) left/500%; /*color image position/size repeat*/
		animation: bg 240s linear infinite;
	}
	.around .btn{
		position: absolute;
		right: .5rem;
		bottom: .5rem;
	}
	.around div{
		box-shadow: 0 0 .5rem #eee inset;
		animation: around 4s linear infinite; /*name duration timing delay direction count*/
		animation-play-state: paused;	
	}
	.timing div{
		border-radius: 0 1.25rem 1.25rem 0;
		box-shadow: -.5rem 0 .5rem #333;
	}
	.translate div{
		animation-name: translate;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;
	}
	.loading div{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: .5rem solid;
		border-color: #acf #48f #36c #248;
		box-shadow: 0 0 .5rem #124;
		animation: loading 1s .5s infinite;
	}
	/*Timing Function*/
				.timing :nth-child(1n){ animation-timing-function: ease; }
		.timing :nth-child(2n){ animation-timing-function: ease-in; }
		.timing :nth-child(3n){ animation-timing-function: ease-out; }
		.timing :nth-child(4n){ animation-timing-function: ease-in-out; }
		.timing :nth-child(5n){ animation-timing-function: linear; }
		.timing :nth-child(6n){ animation-timing-function: cubic-bezier(0,1,1,-1); }
	/*Direction*/
		.direction div{
			border-radius: 2rem / .5rem;
			box-shadow: 0 0 .5rem #333;
		}
		.direction :nth-child(1n){ animation-direction: normal; }
		.direction :nth-child(2n){ animation-direction: reverse; }
		.direction :nth-child(3n){ animation-direction: alternate; }
		.direction :nth-child(4n){ animation-direction: alternate-reverse; }
	/*Keyframes*/
	@keyframes translate{
		from{
			transform: translateX(-100%);
			background-color: #c36;
		}
		to{		
			transform: translateX(min(100vw, 1320px));
			background-color: #448;
		}
	}
	@keyframes around{
		0%{
			transform: translate(0,0) skew(15deg,0);
			background-color: hsl(0,50%,50%);
		}
		25%{
			transform: translate(50vw,0) skew(0,15deg);
			background-color: hsl(90,50%,50%);
		}
		50%{
			transform: translate(50vw,200px) skew(-15deg,0);
			background-color: hsl(180,50%,50%);
		}
		75%{
			transform: translate(0,200px) skew(0,-15deg);
			background-color: hsl(270,50%,50%);
		}
		100%{
			transform: translate(0,0) skew(15deg,0);
			background-color: hsl(0,50%,50%);
		}
	}
	@keyframes bg{
		from{ background-position: -500%; }
	}
	@keyframes loading{
		to{ transform: rotate(360deg); }
	}