/*Reglas Universales*/
	*{
		box-sizing: border-box;
		font-family: sans-serif;
	}
	h1,
	h2,
	h3,
	.header p{
		margin: 0;
	}
/*Contenido Principal*/
	main{ margin: 1rem auto; }
	main section{
		margin: 1.5rem .5rem; /*top right bottom left*/
		border-radius: .25rem;
		padding: 1rem;
		box-shadow: 0 0 .5rem #333;
	}
	main .header{
		margin: -1rem -1rem 1rem; /*top right bottom left*/
		border-radius: .25rem .25rem 0 0; /*tl tr br bl*/
		padding: 1rem;
		color: #eee;
		background: linear-gradient(to left, #c36, #448);
		font-size: 1.2rem;
	}
	main h3{ border-bottom: .1rem solid #666; }
/*Examples*/
	.example{
		position: relative;
		margin: .5rem 2rem;
		padding: 1rem 1.5rem;
		background-color: #eee;
		list-style: none;
	}
	.example::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: .25rem;
		background: linear-gradient(#c36, #448);
	}