.facebook {
  background-image: url("../assets/icon/facebook.svg");
}

.github {
  background-image: url("../assets/icon/github.svg");
}

.instagram {
  background-image: url("../assets/icon/instagram.svg");
}

.linkedin {
  background-image: url("../assets/icon/linkedin.svg");
}

.twitter {
  background-image: url("../assets/icon/twitter.svg");
}

.youtube {
  background-image: url("../assets/icon/youtube.svg");
}

.whatsapp {
  background-image: url("../assets/icon/whatsapp.svg");
}

.bg-primary, #footer #contact {
  background-color: #448 !important;
}

.bg-secondary {
  background-color: #c36 !important;
}

.bg-info {
  background-color: #36c !important;
}

.bg-light, #footer #contact button:hover {
  background-color: #eee !important;
}

.bg-dark, #footer #contact .valid {
  background-color: #333 !important;
}

.bg-danger, #footer #contact input:not(:placeholder-shown):invalid + .valid,
#footer #contact textarea:not(:placeholder-shown):invalid + .valid,
#footer #contact select:not(:placeholder-shown):invalid + .valid {
  background-color: #c33 !important;
}

.bg-warning {
  background-color: #ea3 !important;
}

.bg-success, #footer #contact input:valid + .valid,
#footer #contact textarea:valid + .valid,
#footer #contact select:valid + .valid {
  background-color: #3c6 !important;
}

.bg-none, #footer #contact button {
  background-color: transparent !important;
}

.text-primary, #footer #contact button:hover {
  color: #448 !important;
}

.text-secondary {
  color: #c36 !important;
}

.text-info {
  color: #36c !important;
}

.text-light, #footer #contact button, #footer #contact {
  color: #eee !important;
}

.text-dark {
  color: #333 !important;
}

.text-danger {
  color: #c33 !important;
}

.text-warning {
  color: #ea3 !important;
}

.text-success {
  color: #3c6 !important;
}

.text-none {
  color: transparent !important;
}

.border-primary {
  border-color: #448 !important;
}

.border-secondary {
  border-color: #c36 !important;
}

.border-info {
  border-color: #36c !important;
}

.border-light, #footer #contact button {
  border-color: #eee !important;
}

.border-dark, #footer #contact input:focus,
#footer #contact textarea:focus,
#footer #contact select:focus {
  border-color: #333 !important;
}

.border-danger, #footer #contact input:not(:placeholder-shown):invalid,
#footer #contact textarea:not(:placeholder-shown):invalid,
#footer #contact select:not(:placeholder-shown):invalid {
  border-color: #c33 !important;
}

.border-warning {
  border-color: #ea3 !important;
}

.border-success, #footer #contact input:valid,
#footer #contact textarea:valid,
#footer #contact select:valid {
  border-color: #3c6 !important;
}

.border-none {
  border-color: transparent !important;
}

.col-1 {
  width: 4.1666666667%;
}

.col-2 {
  width: 8.3333333333%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.6666666667%;
}

.col-5 {
  width: 20.8333333333%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.1666666667%;
}

.col-8 {
  width: 33.3333333333%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.6666666667%;
}

.col-11 {
  width: 45.8333333333%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.1666666667%;
}

.col-14 {
  width: 58.3333333333%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.6666666667%;
}

.col-17 {
  width: 70.8333333333%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.1666666667%;
}

.col-20 {
  width: 83.3333333333%;
}

.col-21 {
  width: 87.5%;
}

.col-22 {
  width: 91.6666666667%;
}

.col-23 {
  width: 95.8333333333%;
}

.col-24, #footer #contact input,
#footer #contact textarea,
#footer #contact select {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 4.1666666667%;
  }

  .col-sm-2 {
    width: 8.3333333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.6666666667%;
  }

  .col-sm-5 {
    width: 20.8333333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.1666666667%;
  }

  .col-sm-8 {
    width: 33.3333333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.6666666667%;
  }

  .col-sm-11 {
    width: 45.8333333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.1666666667%;
  }

  .col-sm-14 {
    width: 58.3333333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.6666666667%;
  }

  .col-sm-17 {
    width: 70.8333333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.1666666667%;
  }

  .col-sm-20 {
    width: 83.3333333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22 {
    width: 91.6666666667%;
  }

  .col-sm-23 {
    width: 95.8333333333%;
  }

  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container, .container-md, #footer #contact {
    max-width: 720px;
  }

  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18, #footer #contact {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20 {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container, .container-lg {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container, .container-xl {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 4.1666666667%;
  }

  .col-xl-2 {
    width: 8.3333333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.6666666667%;
  }

  .col-xl-5 {
    width: 20.8333333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.1666666667%;
  }

  .col-xl-8 {
    width: 33.3333333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.6666666667%;
  }

  .col-xl-11 {
    width: 45.8333333333%;
  }

  .col-xl-12, #footer #contact {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.1666666667%;
  }

  .col-xl-14 {
    width: 58.3333333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.6666666667%;
  }

  .col-xl-17 {
    width: 70.8333333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.1666666667%;
  }

  .col-xl-20 {
    width: 83.3333333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.6666666667%;
  }

  .col-xl-23 {
    width: 95.8333333333%;
  }

  .col-xl-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .container, .container-xxl {
    max-width: 1320px;
  }

  .col-xxl-1 {
    width: 4.1666666667%;
  }

  .col-xxl-2 {
    width: 8.3333333333%;
  }

  .col-xxl-3 {
    width: 12.5%;
  }

  .col-xxl-4 {
    width: 16.6666666667%;
  }

  .col-xxl-5 {
    width: 20.8333333333%;
  }

  .col-xxl-6 {
    width: 25%;
  }

  .col-xxl-7 {
    width: 29.1666666667%;
  }

  .col-xxl-8 {
    width: 33.3333333333%;
  }

  .col-xxl-9 {
    width: 37.5%;
  }

  .col-xxl-10 {
    width: 41.6666666667%;
  }

  .col-xxl-11 {
    width: 45.8333333333%;
  }

  .col-xxl-12 {
    width: 50%;
  }

  .col-xxl-13 {
    width: 54.1666666667%;
  }

  .col-xxl-14 {
    width: 58.3333333333%;
  }

  .col-xxl-15 {
    width: 62.5%;
  }

  .col-xxl-16 {
    width: 66.6666666667%;
  }

  .col-xxl-17 {
    width: 70.8333333333%;
  }

  .col-xxl-18 {
    width: 75%;
  }

  .col-xxl-19 {
    width: 79.1666666667%;
  }

  .col-xxl-20 {
    width: 83.3333333333%;
  }

  .col-xxl-21 {
    width: 87.5%;
  }

  .col-xxl-22 {
    width: 91.6666666667%;
  }

  .col-xxl-23 {
    width: 95.8333333333%;
  }

  .col-xxl-24 {
    width: 100%;
  }
}
.icon, #footer .social a, #footer #contact button {
  min-width: 4rem;
  min-height: 4rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: #ccc;
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
.icon:hover, #footer .social a:hover, #footer #contact button:hover {
  background-size: 3rem;
  background-color: #eee;
  box-shadow: 0 0 0.5rem #333;
}

.fixed, #footer .map .icon.icon-min, #footer .map .social a.icon-min, #footer .social .map a.icon-min, #footer .map #contact button.icon-min, #footer #contact .map button.icon-min, #footer .map iframe.active {
  position: fixed;
  z-index: 2;
  opacity: 0.85;
}

#footer {
  margin: 0 -0.5rem -0.5rem;
  border: 0;
  padding: 5rem 1rem 1rem;
  position: relative;
  background: linear-gradient(#4485, #c365);
}
#footer #contact {
  margin: 1rem auto;
  border: 0;
  padding: 1rem;
  display: grid;
}
#footer #contact label {
  margin: 0.5rem 0 0;
  border: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #footer #contact label {
    max-height: 300px;
  }
}
#footer #contact input,
#footer #contact textarea,
#footer #contact select {
  margin: 0;
  border: 0.12rem solid transparent;
  padding: 0.5rem 1rem;
  outline: none;
}
#footer #contact input:focus + .valid,
#footer #contact textarea:focus + .valid,
#footer #contact select:focus + .valid {
  margin: 0;
  border: 0;
  padding: 0.5rem;
  max-height: 300px;
}
#footer #contact .valid {
  max-height: 0;
  overflow: hidden;
}
#footer #contact button {
  margin: 0.2rem 0 0.5rem auto;
  border: 0.1rem solid;
  padding: 0.5rem 1rem;
  min-height: 2rem;
}
#footer .map iframe {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#footer .map .icon, #footer .map .social a, #footer .social .map a, #footer .map #contact button, #footer #contact .map button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
}
#footer .map .icon.icon-max::before, #footer .map .social a.icon-max::before, #footer .social .map a.icon-max::before, #footer .map #contact button.icon-max::before, #footer #contact .map button.icon-max::before {
  content: "+";
}
#footer .map .icon.icon-min::before, #footer .map .social a.icon-min::before, #footer .social .map a.icon-min::before, #footer .map #contact button.icon-min::before, #footer #contact .map button.icon-min::before {
  content: "-";
}
#footer .social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=footer.css.map */
